body {
	padding: 0 40px;
	box-sizing: border-box;
	margin-top: 2px;
}

.title .layui-inline {
	margin-bottom: 0;
}

.title .layui-form-label {
	width: 40px;
	color: #0E0E0E;
	font-size: 18px;
	padding: 9px 5px 9px 0px;
}

.title .layui-input-block {
	margin-left: 45px;
}

.title .title-ipt-box {
	width: 300px;
}

.xm-select {
	width: 200px;
}

.title .title-time-box {
	width: 200px;
}

.title button {
	height: 32px;
	line-height: 32px;
	margin-top: 2px;
}

.subbtn {
	background-color: #00B0FF;
}
.addbtn {
	background-color: #009567;
}


/* table */
.layui-table-header,
.layui-table thead tr {
	background-color: transparent;
}

.layui-table th {
	color: #929293;
	font-size: 16px;
}

.layui-table td {
	color: #0E0E0E;
	font-size: 18px;
	font-family: Source Han Sans CN;
}

.layui-table-view,
.layui-table-header,
.layui-table td,
.layui-table th {
	/* border: none; */
}

.layui-table-cell {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.layui-table-page {
	text-align: right;
	padding-top: 37px;
	height: 78px;
}

.btn {
	float: left;
	height: 50px;
	line-height: 20px;
	padding: 15px 0;
	box-sizing: border-box;
	margin-left: 10px;
	overflow: hidden;
	color: #0D63FE;
}

/* ////// */
body .data-tle .layui-layer-title {
	height: 40px;
	line-height: 40px;
	color: #0031C2;
	font-size: 18px;
	box-sizing: border-box;
}
