html {
	width: 500px;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	box-sizing: border-box;
}

body {
	width:520px;
	height: 100%;
	overflow-y: auto;
}

.time-item {
	height: 40px;
	line-height: 40px;
	text-indent: 40px;
	color: #0E0E0E;
	font-size: 18px;
	margin-top: 10px;
}
.time-item:nth-child(2){
	background: #F5FBFA;
}