html {
	width: 680px;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
}
body {
	width: 680px;
	height: 100%;
}
.lay-form-top {
	width: 100%;
	padding: 5px 20px;
	box-sizing: border-box;
}
.layui-form-add {
	margin: 30px 0;
}

.layui-form .lay-form-top .layui-form-item {
	margin-bottom: 2px;
}
.lay-form-top #subbtn{
	opacity: 0;
	height: 0;
}

.layui-form-item>.layui-inline {
	width: 318px;
}
.layui-form-item .layui-inline{
	
	/* margin-bottom: 2px; */
}
.layui-form-item .layui-inline,
.layui-form-item .layui-input-inline {
	margin-right: 0;
	margin-bottom: 0px;
}

.layui-form-item .layui-form-label {
	width: 90px;
	color: #606060;
	font-weight: 400;
}

.layui-form-item .layui-input-inline {
	width: 195px;
}

.layui-form-item .layui-input {
	color: #242424;
}

/* 选项卡 */
.plus-tab {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.plus-tab .tab-item {
	width: 210px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #939394;
	font-size: 18px;
	font-weight: 400;
	background: #FFFFFF;
	border: 1px solid #009567;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 5px;
	margin-left: 0px;
	cursor: default;
}

.plus-tab .tab-item:nth-child(3n) {
	margin-right: 0;
}

.plus-tab .add {
	color: #FFFFFF;
	background-color: #009567;
}

/* 选项卡内容 */
.tab-center {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
.fiexd-top{
	width: 100%;
	height: 51px;
	margin: 7px 0;
	border: 1px solid #009567;
	box-sizing: border-box;
	border-radius: 4px;
}
.fiexd-top .layui-form-item{
	margin-bottom: 0;
	margin-top: 6px;
}

.tab-center .lay-form {
	width: 640px;
	height: 375px;
	padding: 10px 0px;
	border: 1px solid #009567;
	box-sizing: border-box;
	border-radius: 4px;
}
.tab-center .form-center {
	display: none;
}
#tab1 {
	display: block;
}
.tab-center .form-center-add{
	padding-top: 70px;
}
.tab-center .form-center-add .layui-form-item{
	margin-bottom: 15px;
}
.form-center .layui-form-item{
	margin-bottom: 4px;
}
.tab-center .layui-form-label {
	color: #606060;
	font-weight: 400;
}

.tab-center .layui-form-item>.layui-inline{
	width: 317px;
}
.tab-center .layui-input-inline {
	width: 180px;
}
.form-center .layui-input-block{
	width: 500px;
	margin-left: 120px;
}
.upload .layui-input-inline{
	width: 100px;
}
.form-desc{
	margin-bottom: 0;
}
.form-desc .layui-input-block {
	width: 500px;
	height: 101px;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	box-sizing: border-box;
	margin-left: 120px;
}

.form-desc .thead{
	width: 498px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	box-sizing: border-box;
	background-color: #f2f2f2;
	overflow: hidden;
}
.form-desc p{
	float: left;
	font-size: 14px;
	padding: 0 3px;
	box-sizing: border-box;
	border-right: 1px solid #e6e6e6;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.thead p:last-child{
	border-right: none;
}
.form-desc .tbody{
	width: 498px;
	height: 69px;
	overflow: hidden;
}
#tbody{
	width: 518px;
	height: 71px;
	padding-right: 20px;
	box-sizing: border-box;
	overflow-y: auto;
}
.form-desc .file-item{
	width: 498px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	box-sizing: border-box;
}
.file-item p:last-child{
	border-right: none;
}
.form-desc .file-name {
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.form-desc .file-type{
	width: 124px;
}
.form-desc .file-btn {
	width: 124px;
}
/* 底部按钮 */
.form-btn {
	width: 100%;
	height: 50px;
	padding: 5px 0;
	box-sizing: border-box;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}

.form-btn button {
	width: 120px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	font-size: 18px;
}
.cancel {
	background: #FFFFFF;
	border: 1px solid #B7B7B7;
	color: #939394;
	margin-right: 50px;
}

.cancel:hover {
	color: #939394;
}

.layui-form-item .subbtn {
	color: #FFFFFF;
	background: #009567;
}
.layui-layer-imgbar {
  position: fixed;
  left: -9999999999999px !important;
  bottom: -99999999999999px !important;
}