body {
	width: 100%;
	height: 680px;
	padding: 10px 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.title {
	height: 50px;
	line-height: 50px;
	color: #009567;
	font-size: 18px;
}

.layui-form-item {
	box-sizing: border-box;
	margin-bottom: 8px;
}
.layui-form-item .layui-form-label {
	color: #939394;
	font-size: 16px;
	width: 110px;
	padding: 9px 10px;
}
.form-item .layui-inline{
	margin-right: 0;
}
.form-item .layui-input-inline{
	width: 118px;
	margin-right: 0;
}
.layui-input-block{
	margin-left: 130px;
}
.layui-form-item .layui-input{
	color: #242424;
}
.layui-textarea {
	color: #242424;
	resize: none;
}
.btn {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.btn button {
	width: 158px;
}

.cancel {
	color: #939394;
	background: #FFFFFF;
	border: 1px solid #B7B7B7;
	margin-right: 50px;
}

.cancel:hover {
	color: #939394;
}

.layui-form-item .subbtn {
	background: #009567;
	color: #FFFFFF;
}




